pypdf
langchain
torch
accelerate
bitsandbytes
ctransformers
sentence_transformers
faiss_cpu
chainlit
huggingface_hub
openai
pydantic==2.10.1 
langchain-community 
langchain_openai
langchain-huggingface
uvicorn
# python-engineio==4.6.1
# python-socketio==5.8.0
fastapi